@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* highlight "score" text in green for 1 second if answer is correct */
.green-score {
  color: green;
  animation: fade 1s ease-in-out;
}

/* fade animation to highlight green and red texts on "score" and "attempts left" */
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* flash animation for timer */
@keyframes flash {
  0% {
    color: inherit;
  }
  50% {
    color: red;
  }
  100% {
    color: inherit;
  }
}

/* flash "time left" text in red infinitely while in countdown */
.flash-text {
  animation: flash 1s infinite;
}

/* highlight "attempts left" text in red for 1 second if answer is incorrect */
.red-score {
  color: red;
  animation: fade 1s ease-in-out;
}

/* truncate email names on leaderboard in HighScores component */
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  pointer-events: none; /* Make sure the background doesn't intercept mouse events */
  z-index: -1;
}
